export(build_simulator)
export(simulate_tree)
export(plot.simutraj)
useDynLib(TiPS, .registration=TRUE)
import(methods, Rcpp, gtools)
S3method(plot, simutraj)
importFrom("graphics", "legend", "lines", "plot")
importFrom("grDevices", "rainbow")
importFrom("gtools", "rdirichlet")
importFrom("inline","cxxfunction", "getPlugin")
importFrom("Rcpp","evalCpp")
importFrom("stats", "aggregate")
importFrom("stringr","str_extract_all","str_detect")
importFrom("utils", "read.table")
